body, html {scroll-behavior: smooth !important;box-sizing:border-box;width: 100%;font-family: "Nunito", sans-serif!important;background-color: white !important;color:black!important;margin:0;}

/* UTILS */
section{height: 100vh !important;}
.underline {box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);text-decoration: none;color: white;}
.center {padding-top: 3rem; margin: 0;position: absolute;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.list-inline-item{display:inline-block}
.marginzero{margin: 0 !important;}
.outerdiv{width: 100%;min-height: 100vh;background: white;align-items: center;justify-content: center;}
@media (min-width: 900px) {.outerdiv{width: 100%;min-height: 100vh;background: white;display: flex;align-items: center;justify-content: center;}}

/* LOGO */
.logo img {width: 2.5rem;}
.logo {float: left !important;padding: 0px 15px !important;margin: 11px 0px !important;text-decoration: none !important;transition: transform .25s ease !important;width: 40px;display: flex !important;align-items: center;}
.textlogo {display: block;float: left;font-size: 1.3em;padding: 1rem 1rem;text-decoration: none;color:rgb(255, 255, 255); margin-left:20px;}

/* NAVBAR */
.header {background-color: white; box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); width: 100%; position: fixed; z-index: 1;}
.header ul {margin: 0;padding: 0;list-style: none;overflow: hidden;background-color: white;}
.header li a {display: block;padding: 15px 15px;text-decoration: none;color: black;transition: 0.3s;}
.header li a:hover,.header .menu-btn:hover {color: #686868}
.header .menu {clear: both;max-height: 0;transition: max-height .2s ease-out;}
.header .menu-icon {cursor: pointer;display: inline-block;float: right;padding: 28px 20px;position: relative;user-select: none;}
.header .menu-icon .navicon {background: black;display: block;height: 2px;position: relative;transition: background .2s ease-out;width: 18px;}
.header .menu-icon .navicon:before,.header .menu-icon .navicon:after {background: black;content: '';display: block;height: 100%;position: absolute;transition: all .2s ease-out;width: 100%;}
.header .menu-icon .navicon:before {top: 5px;}
.header .menu-icon .navicon:after {top: -5px;}
.header .menu-btn {display: none;}
.header .menu-btn:checked ~ .menu {max-height: 300px;}
.header .menu-btn:checked ~ .menu-icon .navicon {background: transparent;}
.header .menu-btn:checked ~ .menu-icon .navicon:before {transform: rotate(-45deg);}
.header .menu-btn:checked ~ .menu-icon .navicon:after {transform: rotate(45deg);}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {top: 0;}
@media (min-width: 55em) {.header li {float: left;}.header li a {padding: 20px 25px;}.header .menu {clear: none;float: right;max-height: none;}.header .menu-icon {display: none;}.header li a:hover,.header .menu-btn:hover {color: #686868}}

/* HOME */
.accueil{background-position: center;background-size: cover; background-image: url("img/banner.png");background-position: center;background-repeat: no-repeat;background-attachment: fixed;}
.middle {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);text-align: center;font-size: clamp(3rem, 4vw, 7rem);color: #c9bfa3;}
.title{text-align: center;}
.undertitle{font-size:medium;}

/* SCROLL DOWN */
.scrolldown {left: 50%;position: absolute;text-align: center;bottom: 0;transform: translate(-50%, -50%);border: 2px solid black;border-radius: 30px;height: 46px;margin: 0 auto 8px;text-align: center;width: 30px;}
.scrolldown-p1,.scrolldown-p2 {animation-duration: 1.5s;animation-name: scrolldown;animation-iteration-count: infinite;fill: black;}
.scrolldown-p2 {animation-delay: .75s;}
@keyframes scrolldown {0% {opacity: 0;transform: translate(0, -8px);}50% {opacity: 1;transform: translate(0, 0);}100% {opacity: 0;transform: translate(0, 8px);}}

/* GRID */
.card {background-color: #c9bfa3;padding: 1rem;height: 4rem;}
.cards {max-width: 1200px;margin: 0 auto;display: grid;grid-gap: 1rem;grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));padding: 1rem;text-align: center;}
@media (min-width: 900px) {.cards { grid-template-columns: repeat(2, 1fr);}}
@media (min-width: 1100px) {.cards { grid-template-columns: repeat(3, 1fr); }}

/* CONTACT */
.s{color: transparent !important; height: 0.1px!important; width: 270px !important;}
.div-table-row {display: table-row;width: auto;clear: both;}
.div-table-col {float: left;display: table-column;width: 200px;background-color: transparent;}
.box {position: relative;top: 50%;left: 50%;width: 55rem;padding-left: 60px;transform: translate(-50%, -50%);background: transparent;color: black;box-sizing: border-box;}
.box h2 {margin: 0 0 30px;padding:0;color: black;text-align: center;}
.box .user-box {position: relative;}
.box .user-box input {width: 20rem;padding: 10px 0;font-size: 1em;color: black;margin-bottom: 30px;border: none;border-bottom: 1px solid black;outline: none;background: transparent;}
.box .user-box label {position: absolute;top:0;left: 0;padding: 10px 0;font-size: 1em;color: black;pointer-events: none;transition: .5s;} 
.box .user-box input:focus ~ label,.box .user-box input:valid ~ label {top: -20px;left: 0;color:black;font-size: 12px;}
.box form a {position: relative;display: inline-block;padding: 10px 20px;color: black;font-size: 1em;text-decoration: none;text-transform: uppercase;overflow: hidden;transition: .5s;margin-top: 40px;letter-spacing: 4px}
.box a span {position: absolute;display: block;}
textarea{border-color: black;background-color: transparent;color: black;height: 10em; width:58em;}
::-webkit-calendar-picker-indicator {filter: invert(1);}
.button {background-color: #c9bfa3;border: none;color: white;padding: 10px 20px;text-align: center;text-decoration: none;display: inline-block;font-size: 1em;transition: 0.3s;}
.button:hover{transform:scale(0.85)}
@media screen and (max-width: 50em) {
    #contact .box {position: relative;top: 50%;left: 50%;width: 25rem;padding: 40px;transform: translate(-50%, -50%);background: transparent;color: black;}
    #contact textarea{border-color: black;background-color: transparent;color: black;height: 5em; width:22.5em;}
}

/* UP BTN */
#upBtn {display: none;position: fixed;bottom: 20px;right: 30px;z-index: 99;border: none;outline: none;background-color: transparent;cursor: pointer;padding: 15px;border-radius: 10px;height: 4rem;width: 4rem;transition: 0.3s;}
#upBtn:hover {background-color: rgba(179, 179, 179, 0.333);}
.btnImg {display: block;margin-left: auto;margin-right: auto;width: 100%;}

/* FOOTER */
.footer-basic {padding:40px 0;background-color:#c9bfa3;color:white;}
.footer-basic ul {padding:0;list-style:none;text-align:center;font-size:18px;line-height:1.6;margin-bottom:0;margin-top: 0;}
.footer-basic li {padding:0 10px;}
.footer-basic ul a {color:inherit;text-decoration:none;transition: 0.3s;}
.footer-basic ul a:hover {color: #686868}
.footer-basic .social {text-align:center;padding-bottom:25px;}
.footer-basic .social > a {font-size:24px;width:40px;height:40px;line-height:40px;display:inline-block;text-align:center;margin:0 8px;color:inherit;transition: 0.3s;}
.footer-basic .social > a:hover {color: #686868}  
.footer-basic .copyright {text-align:center;font-size:13px;margin-bottom:0;}


.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card2 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #c9bfa3;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card2 button:hover {
    opacity: 0.7;
  }
  
  .card2 p{
    margin-bottom: 0;
  }